<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <h1><%= @user.first_name %>, на сайті зявилась потрібна вам собака!</h1>

    <div>
      
    </div>

    <p> Have a great day!</p>
  </body>
</html>