<h1 class="pb-4 mb-4 font-italic border-bottom">
  The Dogs That Don't Belong to Anyone
</h1>

<img src="https://static01.nyt.com/images/2016/04/15/science/dogs-listy02/dogs-listy02-superJumbo.jpg" class="home-main-img" >

<hr>

<p>
  There are an estimated 750 million street dogs, village dogs and free-breeding dogs in the world. And while they may not have owners, that doesn’t mean they keep their distance from people.
</p>

<hr> 

<p>
  The World Health Organization (WHO) estimates that there are more than 200 million stray dogs worldwide and that every year, 55,000 people die from rabies, while another 15 million receive post exposure treatment to avert the deadly disease. 95% of these cases occur in Asia and Africa, and 99% of the fatalities are caused by dogs.2
</p>