<h3 class="pb-4 mb-4 font-italic border-bottom">
  My list 
  <%= link_to 'Add new Dog', new_dog_path, class: 'btn btn-primary add-dog-btn' %>
</h3> 

<div id="my-list">
  <%= render "shared/my_list" %>
</div>

