<div class="container">
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Life of a stray dog!</h1>
      <p class="lead my-3">“Stray dogs can be trained just like pet dogs. They respond to love, care and concern. They can be very faithfull and they can sense one who shows love in a crowd”.</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
</div> 